
body {
    text-align: center;
    background-color: #084177;
    font-family: 'Indie Flower', cursive;
    margin: 0;
    padding: 0;
}

h1 {
    color: #ed6663;
    font-size: 4rem;
}

.header {
    background-color: #77a0c7;
    width: 100%;
    padding: 1px;
    margin-bottom: 20px;
}

.outer {
    display: inline-block;
    width: 90%;
    text-align: center;
}
#input {
    width: 100%;
}
input[type=submit] {
    width: 25%;
    padding: 8px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Indie Flower', cursive;
    font-size: 1.5rem;
    font-weight: bold;
}

input[type=text] {
    width: 70%;
    padding: 8px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Indie Flower', cursive;
    font-size: 1.5rem;
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin-top: 50px;
}

.done {
    text-decoration: line-through;
    color: rgb(146, 146, 146);
}

li {
    font-weight: 500;
    font-size: 2rem;
    color: #ffa372;
}

li > button {
    margin-left: 40px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    color: red;
    background-color: white;
}

li > button:hover {
    color: white;
    background-color: red;
}

form {
    width: 75%;
}